<header role="header" class="header">
	<div class="top-header">
    <div class="container">
      <div class="row align-items-center">
  			{{ page.header }}
  		</div>
  		<div class="menu-icon d-block d-lg-none"> <img src="{{ base_path ~ directory }}/images/menu-icon.svg" alt="House of Classics">
  	</div>
	</div>
</header>
